html {
  scroll-behavior: smooth;
}

.navItems {
  position: fixed;
  top: 0;
  width: 92%;
  z-index: 1;
  display: flex;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-between;
  font-size: 17px;
  background-color: rgb(17, 2, 30);
  color: darkgray;
  border-bottom: 1px solid rgb(124, 121, 197);
}

a {
  text-decoration: none;
  color: darkgray;
}

.navButtons a {
  text-align: center;
  padding: 14px 16px;
}

.navButtons a:hover {
  background-color: rgb(74, 28, 63);
  color: rgb(255, 255, 188);
}

.top {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  height: 80vh;
  font-size: 24px;
  background-color: rgb(17, 2, 30);
  color: darkgray;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.name {
  font-size: 64px;
  font-weight: bold;
  color: rgb(255, 255, 188);
}

img {
  width: 50px;
  height: 50px;
  padding: 10px;
}

img:not(.gamejolt, .menu, .graph, .card, .site) {
  -webkit-filter: invert(.75);
          filter: invert(.75);
}

.menu, .graph, .card, .site {
  width: 600px;
  height: 400px;
}

.arrow {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  height: 20vh;
  background-color: rgb(17, 2, 30);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  height: 200vh;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(25, 3, 44);
  color: darkgray;
  border-top: 1px solid rgb(124, 121, 197);
  border-bottom: 1px solid rgb(124, 121, 197);
}

.projects .title {
  display: flex;
  justify-content: center;
  font-size: 46px;
  font-weight: bold;
  width: 100vw;
  height: 120px;
  color: rgb(255, 255, 188);
  border-bottom: 1px solid rgb(124, 121, 197);
}

.section {
  display: flex;
  align-items: start;
  font-size: 32px;
  font-weight: bold;
  width: 90vw;
  padding-left: 10px;
  color: rgb(255, 255, 188);
}

.projects img {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.resume {
  display: flex;
  height: 100vh;
  padding-top: 50px;
  background-color: rgb(25, 3, 44);
  color: darkgray;
}

.resume .title {
  display: flex;
  justify-content: center;
  font-size: 46px;
  font-weight: bold;
  width: 100vw;
  height: 120px;
  color: rgb(255, 255, 188);
  border-bottom: 1px solid rgb(124, 121, 197);
}

.about {
  display: flex;
  flex-wrap: wrap;
  height: 30vh;
  padding: 50px;
  font-size: 20px;
  background-color: rgb(25, 3, 44);
  color: darkgray;
}

.about .title {
  font-size: 46px;
  font-weight: bold;
  color: rgb(255, 255, 188);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 50px;
  height: 25vh;
  font-size: 28px;
  background-color: rgb(17, 2, 30);
  color: darkgray;
}

.footer .break {
  flex-basis: 100%;
  height: 50px;
}